<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="saldo">Saldo: </label>
        <input id="saldo" value="{{data.SaldoDonaPay}}" disabled name="saldo"/><br>

        <label for="saldo">Penggalangan Dana: </label>
        <input id="saldo" value="{{data.Judul}}" disabled name="judul" /><br>

        <label for="nominal">Nominal:</label><br>
        <input type="text" id="nominal" name="nominal"><br>

        <label for="keterangan">Keterangan:</label><br>
        <input type="text" id="keterangan" name="keterangan">
        <button>CREATE</button>
      </form>
</body>
</html>