<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>
	<div style="display: table;">
		<div class="div-row">
			<h1>FORM LOGIN</h1>
		</div>
		<div class="div-row">
			<label for="email">Email: </label>
			<input id="form_email"/>
		</div>
		<div class="div-row">
			<label for="password">Nama Kategori: </label>
			<input id="form_password" type="text">
		</div>
		<div class="div-row">
			<button class="padded-button">
				LOGIN
			</button>
		</div>
</body>

</html>