{% load static %}

<head>
  <title>Register</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}" />
  <script src="{% static 'register.js' %}"></script>
</head>

<body>
  <h1>Form Register</h1>

  <div class="form" id="jenisAkunSection">
    <h2>Jenis Akun</h2>
    <select id="jenisAkunSelect">
      <option>Admin</option>
      <option>Penggalang Dana</option>
    </select>

    <br />
    <br />
    <br />
    <button id="jenisAkunButton">Pilih</button>
  </div>

  <hr />

  <div class="form" id="adminSection">
    <h2>Form Pendaftaran Admin</h2>

    <label for="adminEmailInput">Email</label>
    <input id="adminEmailInput" placeholder="Email" />

    <br />
    <label for="adminPasswordInput">Password</label>
    <input id="adminPasswordInput" placeholder="Password" />

    <br />
    <label for="adminNamaInput">Nama</label>
    <input id="adminNamaInput" placeholder="Nama" />

    <br />
    <label for="adminNoHpInput">Nomor HP</label>
    <input id="adminNoHpInput" placeholder="Nomor HP" />

    <br />
    <button id="adminButton">Daftar</button>
  </div>

  <div class="form" id="pdSection">
    <h2>Form Pendaftaran Penggalang Dana</h2>

    <label for="pdEmailInput">Email</label>
    <input id="pdEmailInput" placeholder="Email" />

    <br />
    <label for="pdPasswordInput">Password</label>
    <input id="pdPasswordInput" placeholder="Password" />

    <br />
    <label for="pdNamaInput">Nama</label>
    <input id="pdNamaInput" placeholder="Nama" />

    <br />
    <label for="pdNoHpInput">Nomor HP</label>
    <input id="pdNoHpInput" placeholder="Nomor HP" />

    <br />
    <label for="pdAlamatInput">Alamat</label>
    <input id="pdAlamatInput" placeholder="Alamat" />

    <br />
    <label for="pdNamaBankInput">Nama Bank</label>
    <input id="pdNamaBankInput" placeholder="Nama Bank" />

    <br />
    <label for="pdNomorRekeningInput">Nomor Rekening</label>
    <input id="pdNomorRekeningInput" placeholder="Nomor Rekening" />

    <br />
    <h2>Jenis Penggalang Dana</h2>
    <select id="pdJenisSelect">
      <option>Individu</option>
      <option>Organisasi</option>
    </select>

    <br />
    <button id="pdButton">Pilih</button>
  </div>

  {% comment %} Penggalang Dana Individu (PDI) {% endcomment %}
  <div class="form" id="pdiSection">
    <h2>Form Pendaftaran Penggalang Dana Individu</h2>

    <label for="pdiNikInput">NIK</label>
    <input id="pdiNikInput" placeholder="NIK" />

    <br />
    <label for="pdiTanggalLahirInput">Tanggal Lahir</label>
    <input id="pdiTanggalLahirInput" placeholder="Tanggal Lahir" />

    <br />
    <label for="pdiJenisKelaminInput">Jenis Kelamin</label>
    <input id="pdiJenisKelaminInput" placeholder="Jenis Kelamin" />

    <br />
    <label for="pdiKtpInput">Foto KTP</label>
    <input id="pdiKtpInput" placeholder="Foto KTP" />

    <br />
    <button id="pdiButton">Daftar</button>
  </div>

  {% comment %} Penggalang Dana Organisasi (PDO) {% endcomment %}
  <div class="form" id="pdoSection">
    <h2>Form Pendaftaran Penggalang Dana Organisasi</h2>

    <label for="pdoNamaInput">Nama Organisasi</label>
    <input id="pdoNamaInput" placeholder="Nama Organisasi" />

    <br />
    <label for="pdoNoTelpInput">Nomor Telepon Organisasi</label>
    <input id="pdoNoTelpInput" placeholder="Nomor Telepon Organisasi" />

    <br />
    <label for="pdoTahunInput">Tahun Berdiri</label>
    <input id="pdoTahunInput" placeholder="Tahun Berdiri" />

    <br />
    <label for="pdoNomorAktaInput">Nomor Akta Pendirian</label>
    <input id="pdoNomorAktaInput" placeholder="Nomor Akta Pendirian" />

    <br />
    <label for="pdoFotoAktaInput">Foto Akta Pendirian</label>
    <input id="pdoFotoAktaInput" placeholder="Foto Akta Pendirian" />

    <br />
    <button id="pdoButton">Daftar</button>
  </div>
</body>
