{% load static %}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}" />
  <script src="{% static 'register.js' %}"></script>
  <title>Register</title>
</head>

<body>
  <h1>Form Register</h1>

  <form method="POST">
    <div class="form" id="jenisAkunSection">
      <h2>Jenis Akun</h2>

      <select id="jenisAkunSelect" name="role1">
        <option value="admin">Admin</option>
        <option value="pd">Penggalang Dana</option>
      </select>

      <br />
      <button id="jenisAkunButton" type="button">Pilih</button>
    </div>

    <hr />

    <div class="form" id="adminSection">
      <h2>Form Pendaftaran Admin</h2>

      <label for="adminEmailInput">Email</label>
      <input id="adminEmailInput" name="adminEmailInput" type="email" placeholder="Email" />

      <br />
      <label for="adminPasswordInput">Password</label>
      <input id="adminPasswordInput" name="adminPasswordInput" type="password" placeholder="Password" />

      <br />
      <label for="adminNamaInput">Nama</label>
      <input id="adminNamaInput" name="adminNamaInput" placeholder="Nama" />

      <br />
      <label for="adminNoHpInput">Nomor HP</label>
      <input id="adminNoHpInput" name="adminNoHpInput" type="tel" placeholder="Nomor HP" />

      <br />
      <input id="adminButton" type="submit" value="Register" />
    </div>

    <div class="form" id="pdSection">
      <h2>Form Pendaftaran Penggalang Dana</h2>

      <label for="pdEmailInput">Email</label>
      <input id="pdEmailInput" name="pdEmailInput" type="email" placeholder="Email" />

      <br />
      <label for="pdPasswordInput">Password</label>
      <input id="pdPasswordInput" name="pdPasswordInput" type="password" placeholder="Password" />

      <br />
      <label for="pdNamaInput">Nama</label>
      <input id="pdNamaInput" name="pdNamaInput" placeholder="Nama" />

      <br />
      <label for="pdNoHpInput">Nomor HP</label>
      <input id="pdNoHpInput" name="pdNoHpInput" type="tel" placeholder="Nomor HP" />

      <br />
      <label for="pdAlamatInput">Alamat</label>
      <input id="pdAlamatInput" name="pdAlamatInput" placeholder="Alamat" />

      <br />
      <label for="pdNamaBankInput">Nama Bank</label>
      <input id="pdNamaBankInput" name="pdNamaBankInput" placeholder="Nama Bank" />

      <br />
      <label for="pdNomorRekeningInput">Nomor Rekening</label>
      <input id="pdNomorRekeningInput" name="pdNomorRekeningInput" type="number" placeholder="Nomor Rekening" />

      <br />
      <h2>Jenis Penggalang Dana</h2>
      <select id="pdJenisSelect" name="role2">
        <option value="individu">Individu</option>
        <option value="organisasi">Organisasi</option>
      </select>

      <br />
      <button id="pdButton" type="button">Pilih</button>
    </div>

    {% comment %} Penggalang Dana Individu (PDI) {% endcomment %}
    <div class="form" id="pdiSection">
      <h2>Form Pendaftaran Penggalang Dana Individu</h2>

      <label for="pdiNikInput">NIK</label>
      <input id="pdiNikInput" name="pdiNikInput" type="number" placeholder="NIK" />

      <br />
      <label for="pdiTanggalLahirInput">Tanggal Lahir</label>
      <input id="pdiTanggalLahirInput" name="pdiTanggalLahirInput" type="date" placeholder="Tanggal Lahir" />

      <br />
      <label for="pdiJenisKelaminInput">Jenis Kelamin</label>
      <select id="pdiJenisKelaminInput" name="pdiJenisKelaminInput">
        <option value="M">Laki-laki</option>
        <option value="F">Perempuan</option>
      </select>

      <br />
      <label for="pdiKtpInput">Foto KTP</label>
      <input id="pdiKtpInput" name="pdiKtpInput" placeholder="Foto KTP" />

      <br />
      <input id="pdiButton" type="submit" value="Register" />
    </div>

    {% comment %} Penggalang Dana Organisasi (PDO) {% endcomment %}
    <div class="form" id="pdoSection">
      <h2>Form Pendaftaran Penggalang Dana Organisasi</h2>

      <label for="pdoNamaInput">Nama Organisasi</label>
      <input id="pdoNamaInput" name="pdoNamaInput" placeholder="Nama Organisasi" />

      <br />
      <label for="pdoNoTelpInput">Nomor Telepon Organisasi</label>
      <input id="pdoNoTelpInput" name="pdoNoTelpInput" type="tel" placeholder="Nomor Telepon Organisasi" />

      <br />
      <label for="pdoTahunInput">Tahun Berdiri</label>
      <input id="pdoTahunInput" name="pdoTahunInput" type="number" placeholder="Tahun Berdiri" />

      <br />
      <label for="pdoNomorAktaInput">Nomor Akta Pendirian</label>
      <input id="pdoNomorAktaInput" name="pdoNomorAktaInput" placeholder="Nomor Akta Pendirian" />

      <br />
      <label for="pdoFotoAktaInput">Foto Akta Pendirian</label>
      <input id="pdoFotoAktaInput" name="pdoFotoAktaInput" placeholder="Foto Akta Pendirian" />

      <br />
      <input id="pdoButton" type="submit" value="Register" />
    </div>
  </form>
</body>
