<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <style>
        table,
        td,
        th {
            border: 1px solid black;
            text-align: center;
        }

        table {
            border-collapse: collapse;
            margin-top: 10px;
            width: 100%;
        }
    </style>
</head>

<body>
	<h1>Daftar Pengguna</h1>
	<table>
		<tr>
			<th>Email</th>
			<th>Nama</th>
			<th>Jenis</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>pbarstow0@parallels.com</td>
			<td>Pauline Barstow</td>
			<td>Individu</td>
			<td>Sudah Terverifikasi</td>
            <td>
				<button>
					Detail
				</button>
			</td>
		</tr>
        <tr>
            <td>ofew1@dion.ne.jp</td>
            <td>Odele Few</td>
            <td>Organisasi</td>
            <td>Sudah Terverifikasi</td>
            <td>
                <button>
                    Detail
                </button>
            </td>
	</table>
</body>

</html>
