{% load static %}

<head>
  <title>Read Details Penggalangan Dana</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'pdDetailsRead.css' %}"
  />
  <script src="{% static 'pdDetailsRead.js' %}"></script>
</head>

<body>
  <h2>Details Penggalangan Dana:</h2>
  <h1>{{ penggalangan_dana.judul }}</h1>

  <hr />

  <h2>Informasi Umum Penggalangan Dana</h2>
  <b>ID Penggalangan Dana:</b>
  <p>{{ penggalangan_dana.id }}</p>

  <b>Email Penggalang Dana:</b>
  <p>{{ penggalangan_dana.emailuser }}</p>

  <b>Judul:</b>
  <p>{{ penggalangan_dana.judul }}</p>

  <b>Deskripsi:</b>
  <p>{{ penggalangan_dana.deskripsi }}</p>

  <b>Kota:</b>
  <p>{{ penggalangan_dana.kota }}</p>

  <b>Provinsi:</b>
  <p>{{ penggalangan_dana.provinsi }}</p>

  <b>Deadline Penggalangan Dana:</b>
  <p>{{ penggalangan_dana.tanggalaktifakhir }}</p>

  <b>Jumlah Target Dana (Rupiah):</b>
  <p>{{ penggalangan_dana.jumlahdibutuhkan }}</p>

  <hr />

  <h2>Informasi Tambahan</h2>
  <b>Kategori:</b>
  <p>{{ penggalangan_dana.namakategori }}</p>

  {% if penggalangan_dana.namakategori == "Kesehatan" %}
    <b>NIK Pasien:</b>
    <p>{{ pasien.nik }}</p>

    <b>Nama Pasien:</b>
    <p>{{ pasien.nama }}</p>

    <b>Penyakit Utama:</b>
    <p>{{ pasien.penyakit }}</p>

    <b>Komorbid:</b>
    <p>{{ pasien.komorbid }}</p>
  {% endif %}

  {% if penggalangan_dana.namakategori == "Rumah Ibadah" %}
    <b>Nomor Sertifikat Rumah Ibadah:</b>
    <p>{{ rumah_ibadah.nosertifikat }}</p>

    <b>Kategori Aktivitas:</b>
    <p>{{ rumah_ibadah.aktivitasnama }}</p>
  {% endif %}

  <b>Berkas Penggalangan Dana:</b>
  <p>{{ penggalangan_dana.linkrepo }}</p>

  <b>Catatan Pengajuan:</b>
  {% if penggalangan_dana.catatan %}
    <p>{{ penggalangan_dana.catatan }}</p>
  {% else %}
    <p>-</p>
  {% endif %}

  <b>Jumlah Terkumpul:</b>
  <p>{{ penggalangan_dana.jumlahterkumpul }}</p>

  <b>Donasi:</b><br />
  <table>
    <tr>
      <th>Email</th>
      <th>Timestamp</th>
      <th>Nominal</th>
      <th>Doa</th>
    </tr>

    {% for d in donasi %}
      <tr>
        <th>{{ d.email }}</th>
        <th>{{ d.timestamp }}</th>
        <th>{{ d.nominal }}</th>
        <th>{{ d.doa }}</th>
      </tr>
    {% empty %}
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
    {% endfor %}
  </table>

  <br />
  <b>Jumlah Terpakai:</b>
  <p>{{ penggalangan_dana.jumlahterpakai }}</p>

  <table>
    <tr>
      <th>Waktu</th>
      <th>Nominal</th>
      <th>Deskripsi</th>
    </tr>
    <tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
    </tr>
  </table>

  <br />
  <a href="/pd">Cancel</a>
</body>
