{% load static %}

<head>
  <title>Read Penggalangan Dana</title>

  <link rel="stylesheet" type="text/css" href="{% static 'pdRead.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'cairkan_button.js' %}"></script>
  <script src="{% static 'pdRead.js' %}"></script>
</head>

<body>
  <h1>Daftar Penggalangan Dana Pribadi</h1>
  <h3>{{ email }}</h3>

  {% if penggalangan_dana %}
    <table>
      <tr>
        <th>Id</th>
        <th>Judul</th>
        <th>Kota</th>
        <th>Prov</th>
        <th>Tanggal Aktif Awal</th>
        <th>Deadline</th>
        <th>Sisa Hari</th>
        <th>Target Dana</th>
        <th>Kategori</th>
        <th>Status Verifikasi</th>
        <th>Action</th>
      </tr>

      {% for pd in penggalangan_dana %}
        <tr>
          <td>{{ pd.id }}</td>
          <td>{{ pd.judul }}</td>
          <td>{{ pd.kota }}</td>
          <td>{{ pd.provinsi }}</td>
          <td>{{ pd.tanggalaktifawal }}</td>
          <td>{{ pd.tanggalaktifakhir }}</td>
          <td>{{ pd.sisahari }}</td>
          <td>{{ pd.jumlahdibutuhkan }}</td>
          <td>{{ pd.namakategori }}</td>
          <td>{{ pd.statusverifikasi }}</td>
          <td>
            <ul>
              <li><a href="/pd/details/?id={{ pd.id }}">Detail</a></li>
              <li><a href="/t3/update-penggalangan?id={{ pd.id }}" class="update_button">Update</a></li>

              {% if pd.statusverifikasi == "Terverifikasi" %}
                <li><button type="button">Cairkan</button></li>
              {% endif %}

              <li><button type="button">Delete</button></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    <table>

    <p>Jumlah Penggalangan Dana: {{ jumlah_pd }}</p>
    <p>Jumlah Penggalangan Dana Aktif: {{ jumlah_pd_aktif }}</p>
  {% else %}
    <h3>Anda tidak memiliki Penggalangan Dana</h3>
  {% endif %}

  <br />
  <a href="/pd/create">Buat Penggalangan Dana</a>
</body>
