{% load static %}

<head>
  <title>Read Details Penggalangan Dana</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'pdDetailsRead.css' %}"
  />
  <script src="{% static 'pdDetailsRead.js' %}"></script>
</head>

<body>
  <h1>
    Details Penggalangan Dana: <br />
    RumahIbadah2
  </h1>

  <hr />

  <h2>Informasi Umum Penggalangan Dana</h2>
  <b>ID Penggalangan Dana:</b>
  <p>R-002</p>

  <b>Email Penggalang Dana:</b>
  <p>pbarstow0@parallels.com</p>

  <b>Judul:</b>
  <p>RumahIbadah2</p>

  <b>Deskripsi:</b>
  <p>ri2</p>

  <b>Kota:</b>
  <p>Bandung</p>

  <b>Provinsi:</b>
  <p>Jawa Barat</p>

  <b>Deadline Penggalangan Dana:</b>
  <p>2021-12-7</p>

  <b>Jumlah Target Dana (Rupiah):</b>
  <p>1000000</p>

  <hr />

  <h2>Informasi Tambahan</h2>
  <b>Kategori:</b>
  <p>Rumah Ibadah</p>

  <b>Nomor Sertifikat Rumah Ibadah:</b>
  <p>RI2236029MXABJFDCK</p>

  <b>Kategori Aktivitas:</b>
  <p>Pembebasan Lahan</p>

  <b>Berkasn Penggalangan Dana:</b>
  <p>youtube.com</p>

  <b>Catatan Pengajuan:</b>
  <p>-</p>

  <b>Jumlah Terkumpul:</b>
  <p>0</p>

  <table>
    <tr>
      <th>Email</th>
      <th>Timestamp</th>
      <th>Nominal</th>
      <th>Doa</th>
    </tr>
    <tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
      <th>-</th>
    </tr>
  </table>

  <b>Jumlah Terpakai:</b>
  <p>0</p>

  <table>
    <tr>
      <th>Waktu</th>
      <th>Nominal</th>
      <th>Deskripsi</th>
    </tr>
    <tr>
      <th>-</th>
      <th>-</th>
      <th>-</th>
    </tr>
  </table>

  <br />
  <button>Cancel</button>
</body>
