{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2 text align =Center>Data Donasi Penggalangan Dana</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Judul</th>
    <th>Kategori</th>
    <th>Status Pembayaran</th>
    <th>Action</th>
  </tr>
  {% for d in donasi %}
  <tr>
    <td>{{ d.idpd }}</td>
    <td>{{ d.judul }}</td>
    <td>{{ d.namakategori }}</td>
    <td>{{d.status }}</td>
     <td>
      <button class="detail_button" id="{{ d.email }}_{{d.timestamp}}">
        Detail
      </button>
    <button type="button">Lihat Bukti</button></td>
 </tr>
 {% endfor %}
 </table>

 <script>
   var detailButtons = document.getElementsByClassName("detail_button");
[].slice.call(detailButtons).forEach(function (button) {
    button.onclick = function () {
        let email_pengguna = button.id.split('_')[0];
        let timestamp = button.id.split('_')[1];
        console.log(button.id) ;
        location.href = "/t4/detail-donasi/?email=" + email_pengguna +"&timestamp="+timestamp;
    };
});

 </script>
</body>
</html>
