<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2 text align =Center>Data Donasi Penggalangan Dana</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Judul</th>
    <th>Kategori</th>
    <th>Status Pembayaran</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>K-001 </td>
    <td>Ayo bantu Zulfahri menghadapi
penyakit Demam Berdarahnya!</td>
    <td>Kesehatan</td>
    <td>Sukses</td>
     <td><form action="detaildonasi.html">
      <input type="submit" value="Detail" />
  </form>
    <button type="button">Lihat Bukti</button></td>
 </tr>
 </table>


</body>
</html>
