<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2 text align =Center>Detail Penggalangan Dana</h2>

<h3>Informasi Umum Penggalangan Dana </h3>
<p>ID Penggalangan Dana: [disabled]</p>
<p>Email Penggalangan Dana: [disabled]</p>
<p>Judul: [disabled]</p>
<p>Deskripsi: [disabled]</p>
<p>Kota: [disabled]</p>
<p>Provinsi: [disabled]</p>
<p>Deadline Penggalangan Dana: [disabled]</p>
<p>Jumlah Target Dana (Rupiah):[disabled]</p>
<br>
<h3>Informasi Tambahan Penggalangan Dana</h3>
<p>Kategori: [disabled]</p>
<p>NIK Pasien: [disabled]</p>
<p>Nama Pasien: [disabled]</p>
<p>Penyakit Utama: [disabled]</p>
<p>Komorbid: [disabled]</p>
<p>Nomor Sertifikat Rumah Ibadah: [disabled]</p>
<p>Kategori Aktivitas: [disabled]</p>
<p>Berkas Penggalangan Dana: [disabled]</p>
<p>Jumlah Terkumpul: [disabled] </p>

<h3>Donatur :</h3>

<table>
  <tr>
    <th>Email</th>
    <th>Timestamp</th>
    <th>Nominal</th>
    <th>Doa</th>
  </tr>
  <tr>
    <td>kevinne_dhawson@
gmail.com</td>
    <td>(2021-12-30
05:02:11)</td>
    <td>Rp 1.500.000,-</td>
    <td>-</td>
 <tr>
    <td>sugabsson74@gmail.
com</td>
    <td>(2021-12-30
05:02:11)</td>
    <td>Rp 3.500.000, -</td>
    <td>Semoga diberi
kelancaran</td>
  </tr>
</table>
<p>Jumlah Terpakai: [disabled] </p>
<p>Rincian Penggunaan: </p>
<table>
  <tr>
    <th>Waktu</th>
    <th>Nominal</th>
    <th>Deskripsi</th>

  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>

 <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>

  </tr>
</table>

</body>
</html>
