<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2 text align =Center>Detail Donasi</h2>

<ul>
<li> <label for="email_donatur">Email Donatur: </label>
    <input id="detail_email_donatur" value="{{d.email}}" type="text" disabled> </li>
<br>
<li>
  <label for="Timestamp">Timestamp: </label>
  <input id="detail_timestamp_donasi" value="{{d.timestamp}}" type="datetime" disabled></li>
<br>
<li>
  <label for="judul">Judul Penggalangan Dana: </label>
  <input id="detail_judul" value="{{d.judul}}" type="text" disabled ></li>
<br>
<li>
  <label for="nominal">Nominal (Rupiah): </label>
  <input id="detail_nominal" value="{{d.nominal}}" type="text" disabled ></li>
<br>
<li>
  <label for="metode_bayar">Metode Bayar: </label>
  <input id="detail_metode_bayar" value="{{d.metodebayar}}" type="text" disabled >
</li>
<br>
<li>
  <label for="status_anonim">Status Anonim : </label>
  <input id="detail_status_anonim" value="{{d.statusanonim}}" type="text" disabled >
</li>
<br>
<li>
  <label for="doa">Doa : </label>
  <input id="detail_doa" value="{{d.doa}}" type="text" disabled >
</li>
</ul>

<form action="/t4/data-donasi/">
  <input type="submit" value="Cancel" />
</form>

</body>
</html>
