<!DOCTYPE html>
<html>
<body>

<h2 text align =Center>Form Pembuatan Donasi</h2>


<form method="POST">

	<li>
      <label for="email_donatur">Email Donatur: </label>
			<input id="formdonasi" name="emaildonatur" value="{{d.email}}" disabled />
  </li>
    <br>
	<li> <label for="Timestamp">Timestamp: </label>
    <input id="timestamp-input" type="text" name="timestamp">
    <br>
	<li>
    <label for="judul">Judul Penggalangan Dana: </label>
  <input id="form_judul" name = "judul" value="{{d.judul}}" type="text" disabled >
  </li>
    <br>
  	<li><label for="fname">Nominal (Rupiah)</label>  <input name="nominal" id="nominaldonasi" type="text" required> <br>
     </li>
    <br>
  	<li>
      Metode Bayar:<br>
        <input type="radio" id="transfer" name="metode_bayar" value="transfer">
        <label for="transfer">Transfer</label><br>
        <input type="radio" id="Gopay" name="metode_bayar" value="Gopay">
        <label for="Gopay">Gopay</label><br>
     </li>
    <br>
   	<li>Status Anonim: <br>
      <input type="radio" id="ya" name="opsi" value="ya">
      <label for="ya">Ya</label><br>
      <input type="radio" id="tidak" name="opsi" value="tidak">
      <label for="tidak">Tidak</label><br>
     </li>
    <br>
    <li><label for="doa">Doa</label> <input type="text"id="doa" name="doa"><br></li>
    <br>
  	
    <button class="padded-button">
      Create
    </button>
    

</form> 
<script>
  // document.getElementById("timestamp").value=getTimeStamp() ;
  var timestampinput = document.getElementById('timestamp-input');
  timestampinput.value = getTimeStamp() ;

  function getTimeStamp() {
       var now = new Date();
       return ((now.getFullYear()) + '-' + (now.getMonth() + 1)  + '-' + now.getDate() + " " + now.getHours() + ':'
                     + ((now.getMinutes() < 10) ? ("0" + now.getMinutes()) : (now.getMinutes())) + ':' + ((now.getSeconds() < 10) ? ("0" + now
                     .getSeconds()) : (now.getSeconds())));
  
  }

</script>

</body>
</html>
