<!DOCTYPE html>
<html>
<body>

<h2 text align =Center>Form Pembuatan Donasi</h2>


<form action="/action_page.php">

	<li>Email Donatur	:[Disabled]</li>
    <br>
	<li>Timestamp: [Disabled]</li>
    <br>
	<li>Judul Penggalangan Dana: [Disabled]</li>
    <br>
  	<li><label for="fname">Nominal (Rupiah)</label> <input type="text" id="fname" name="fname"><br></li>
    <br>
  	<li>Judul Penggalangan Dana: [Disabled]</li>
    <br>
  	<li>Metode Bayar: [Opsi, Transfer/DonaPay]</li>
    <br>
   	<li>Status Anonim: [Opsi, Ya/Tidak]</li>
    <br>
    <li><label for="fname">Doa</label> <input type="text"id="fname" name="fname"><br></li>
    <br>
  	<input type="submit" value="Create">

</form> 


</body>
</html>
