<!DOCTYPE html>
<html>
<body>

<h2 text align =Center>Form Pembuatan Donasi</h2>


<form action="/action_page.php">

	<li>
      <label for="email_donatur">Email Donatur: </label>
			<input id="formdonasi" value="jsimony2@skyrock.com" disabled />
  </li>
    <br>
	<li> <label for="Timestamp">Timestamp: </label>
    <input id="form_timestamp_donasi" value="2021-11-16" type="date" disabled></li></li>
    <br>
	<li>
    <label for="judul">Judul Penggalangan Dana: </label>
  <input id="form_judul" value="Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya!" type="text" disabled >
  </li>
    <br>
  	<li><label for="fname">Nominal (Rupiah)</label> <input type="text" id="fname" name="fname"><br></li>
    <br>
  	<li>
      Metode Bayar:<br>
        <input type="radio" id="transfer" name="metode_bayar" value="transfer">
        <label for="transfer">Transfer</label><br>
        <input type="radio" id="Gopay" name="metode_bayar" value="Gopay">
        <label for="Gopay">Gopay</label><br>
     </li>
    <br>
   	<li>Status Anonim:
      <input type="radio" id="ya" name="opsi" value="ya">
      <label for="ya">Ya</label><br>
      <input type="radio" id="tidak" name="opsi" value="tidak">
      <label for="tidak">Tidak</label><br>
     </li>
    <br>
    <li><label for="fname">Doa</label> <input type="text"id="fname" name="fname"><br></li>
    <br>
  	<input type="submit" value="Create">

</form> 


</body>
</html>
