<style>
    .topnav {
        overflow: hidden;
    }

    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
</style>
<div class="topnav">
    <a href="/auth/login">Login</a>
    <a href="/auth/logout">Logout</a>
    <a href="/auth/register">Register</a>
    <a href="/t3/daftar-penggalangan">Daftar Penggalangan</a>
    <a href="/t3/daftar-penggalangan-admin">Daftar Penggalangan Admin</a>
    <a href="/t3/kategori-penggalangan-admin">Kategori Penggalangan Admin</a>
    <a href="/t4/data-donasi">Donasi</a>
    <a href="/t4/profil-pengguna">Profil Pengguna</a>
   
</div>