<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>
</head>
<body>
	<h1>Halaman Daftar Penggalangan Dana (POV Pengguna)</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Judul</th>
			<th>Kota</th>
			<th>Prov.</th>
			<th>Tanggal Berakhir</th>
			<th>Sisa Hari</th>
			<th>Target Dana</th>
			<th>Kategori</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>K-001</td>
			<td>Ayo bantu Zulfahri Menghadapi penyakit Demam Berdarahnya!</td>
			<td>Bandung</td>
			<td>Jawa Barat</td>
			<td>7 Desember 2021</td>
			<td>20 hari</td>
			<td>Rp1.000.000,00</td>
			<td>Kesehatan</td>
			<td>
				
        <form action="detail_penggalangan_dana.html">
          <input type="submit" value="Detail" />
        </form>
				<button>
					Donasi
				</button>
				<button>
					Tambah ke Wishlist
				</button>
			</td>
		</tr>
	</table>
</body>
</html>



