<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>
</head>
<body>

<h2>“Halaman Daftar Penggalangan Dana (POV Pengguna)”</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Judul</th>
    <th>Kota</th>
    <th>Prov</th>
    <th>Tanggal Berakhir</th>
    <th>Sisa Hari</th>
    <th>Target Dana</th>
    <th>Kategori</th>
     <th>Action</th>
  </tr>
  <tr>
    <td>770600412</td>
    <td>Supergirl</td>
    <td>Chak</td>
    <td>East Java</td>
    <td></td>
    <td></td>
    <td>510000</td>
    <td>kesehatan</td>
    <td><button type="button">Detail</button>
    <button type="button">Donasi</button>
    <button type="button">Tambah ke Wishlist</button></td>
    
  </tr>
  <tr>
    <td>770600413</td>
    <td>Charlie's Country</td>
    <td>Sukaraja</td>
    <td>DKI Jakarta</td>
    <td>2021-08-18</td>
    <td>2</td>
    <td>550000</td>
    <td>rumah ibadah</td>
    <td><button type="button">Detail</button>
    <button type="button">Donasi</button>
    <button type="button">Tambah ke Wishlist</button></td>
  </tr>
</table>

</body>
</html>



