<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
</style>
</head>
<body>

<h2>Profil Pengguna</h2>
<p>Email		:[disabled]</p>
<p>Nama			:[disabled]</p>
<p>Nomor HP		:[disabled]</p>
<p>Alamat		:[disabled]</p>
<p>Nama Bank	:[disabled]</p>
<p>No Rekening	:[disabled]</p>
<p>Jenis		:[disabled]</p>
<br>
<p>NIK			:[disabled]</p>
<p>Tanggal Lahir:[disabled]</p>
<p>Jenis Kelamin:[disabled]</p>
<p>Foto KTP		:[link/gambar]</p>
<p><b>Saldo Donapay: 0</b></p>
<br>
<p><b>Wishlist Donasi: 0</b></p>
<table>
  <tr>
    <th>ID</th>
    <th>Judul</th>
    <th>Kategori</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td><button type="button">Detail</button>
    <button type="button">Donasi</button>
    <button type="button">Tambah ke Wishlist</button></td>
  </tr>
  <p><b>Jumlah Wishlist : 1</b></p>

</table>
<br>

<button>Cancel</button>

</body>
</html>

