{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'trigger_3/css/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <h1>Halaman Daftar Kategori Penggalangan Dana</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nama Kategori</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Kesehatan</td>
            <td><button>Update</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rumah Ibadah</td>
            <td><button>Update</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Bencana</td>
            <td><button>Update</button></td>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
            <td><button>Update</button></td>
        </tr>
    </table>
</body>

</html>