<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/trigger_3/css/styles.css">
	<title>Document</title>
</head>

<body>
	<h1>Halaman Daftar Penggalangan Dana (POV Admin)</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Judul</th>
			<th>Kota</th>
			<th>Prov.</th>
			<th>Tanggal Berakhir</th>
			<th>Sisa Hari</th>
			<th>Target Dana</th>
			<th>Kategori</th>
			<th>Status Verifikasi</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>K-001</td>
			<td>Ayo bantu Zulfahri Menghadapi penyakit Demam Berdarahnya!</td>
			<td>Bandung</td>
			<td>Jawa Barat</td>
			<td>7 Desember 2021</td>
			<td>20 hari</td>
			<td>Rp1.000.000,00</td>
			<td>Kesehatan</td>
			<td>Sudah Terverifikasi</td>
			<td>
				<button>
					Detail
				</button>
			</td>
		</tr>
		<tr>
			<td>R-001</td>
			<td>Bangun masjid untuk Desa Maju</td>
			<td>Jakarta</td>
			<td>DKI Jakarta</td>
			<td>10 Desember 2021</td>
			<td></td>
			<td>Rp10.000.000,00</td>
			<td>Rumah Ibadah</td>
			<td>Belum Terverifikasi</td>
			<td>
				<button>
					Detail Verifikasi
				</button>
			</td>
		</tr>
	</table>
</body>

</html>