{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'trigger_3/css/styles.css' %}">
	<title>Document</title>
</head>

<body>
	<h1>Halaman Daftar Penggalangan Dana (POV Admin)</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Judul</th>
			<th>Kota</th>
			<th>Prov.</th>
			<th>Tanggal Berakhir</th>
			<th>Sisa Hari</th>
			<th>Target Dana</th>
			<th>Kategori</th>
			<th>Status Verifikasi</th>
			<th>Action</th>
		</tr>
		{% for p in penggalangans %}
		<tr>
			<td>{{ p.id }}</td>
			<td>{{ p.judul }}</td>
			<td>{{ p.kota }}</td>
			<td>{{ p.provinsi }}</td>
			<td>{{ p.tanggalaktifakhir }}</td>
			<td>{{ p.sisahari }}</td>
			<td>{{ p.jumlahdibutuhkan }}</td>
			<td>{{ p.namakategori }}</td>
			<td>{{ p.statusverifikasi }}</td>
			<td>
				<button>
					Detail
				</button>
			</td>
		</tr>
		{% endfor %}
	</table>
</body>

</html>