{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'trigger_3/css/styles.css' %}">
    <title>Document</title>
</head>

<body>
    {% include "navbar.html" %}
    <h1>Halaman Daftar Kategori Penggalangan Dana</h1>
    <p>
        <button id="create_button">
            + Tambah Kategori
        </button>
    </p>
    <table>
        <tr>
            <th>ID</th>
            <th>Nama Kategori</th>
            <th>Action</th>
        </tr>
        {% for kategori in kategoris %}
        <tr id="row_{{ kategori.id }}">
            <td id="id_{{ kategori.id }}" name="item_id">{{ kategori.id }}</td>
            <td id="nama_{{ kategori.id }}" name="item_nama">{{ kategori.namakategori }}</td>
            <td><button class="update_button" id="{{ kategori.id }}">Update</button></td>
        </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        var buttons = document.getElementsByClassName("update_button");
        [].slice.call(buttons).forEach(function (button) {
            button.onclick = function () {
                var name = document.getElementById("nama_" + button.id).innerText;
                console.log(name);
                location.href = "/update-kategori?id=" + button.id + "&nama=" + name;
            };
        });
        document.getElementById("create_button").onclick = function () {
            location.href = "/create-kategori";
        };
    </script>
</body>

</html>