<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/trigger_3/css/styles.css">
	<title>Document</title>
</head>

<body>
	<h1>Detail Penggalangan Dana: nama_PD</h1>
	<h3>Informasi Umum Penggalangan Dana</h3>
	<div style="padding-left: 35px; display: table;">
		<div class="div-row">
			<label for="id_penggalangan">ID Penggalangan Dana: </label>
			<input id="form_id_penggalangan" value="K-001" type="text" disabled>
		</div>
		<div class="div-row">
			<label for="email_penggalang">Email Penggalang Dana: </label>
			<input id="form_email_penggalang" value="david@gmail.com" type="text" disabled>
		</div>
		<div class="div-row">
			<label for="judul">Judul: </label>
			<input id="form_judul" value="Ayo bantu Zulfahri Menghadapi penyakit Demam Berdarahnya!" type="text"
				disabled />
		</div>
		<div class="div-row">
			<label for="deskripsi">Deskripsi: </label>
			<input id="form_deskripsi" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="kota">Kota: </label>
			<input id="form_kota" value="Bandung" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="provinsi">Provinsi: </label>
			<input id="form_provinsi" value="Jawa Barat" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="deadline_penggalangan">Deadline Penggalangan Dana: </label>
			<input id="form_deadline_penggalangan" value="7 Desember 2021" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="jumlah_target_dana">Jumlah Target Dana (Rupiah): </label>
			<input id="form_jumlah_target_dana" value="Rp1.000.000,00" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="status_verifikasi">Status Verifikasi: </label>
			<input id="form_status_verifikasi" value="Sudah Terverifikasi" type="text" disabled>
		</div>
		<div class="div-row">
			<label for="diverifikasi_oleh">Diverifikasi Oleh: </label>
			<input id="form_diverifikasi_oleh" value="admin@gmail.com" type="text" disabled>
		</div>
	</div>

	<h3>Informasi Tambahan Penggalangan Dana</h3>
	<div style="padding-left: 35px; display: table;">
		<div class="div-row">
			<label for="kategori">Kategori: </label>
			<input id="form_kategori" value="{{ kategori }}" type="text" disabled>
		</div>
		{% if kategori == 'Kesehatan' %}
		<div class="div-row">
			<label for="nik_pasien">NIK Pasien: </label>
			<input id="form_nik_pasien" value="1497199854621440" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="nama_pasien">Nama Pasien: </label>
			<input id="form_nama_pasien" value="Modesty Rickertsen" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="penyakit_utama">Penyakit Utama: </label>
			<input id="form_penyakit_utama" value="Meloxicam" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="komorbid">Komorbid: </label>
			<input id="form_komorbid" value="Multi-Symptom Mapap Cold Formula" type="text" disabled />
		</div>
		{% endif %}
		{% if kategori == 'Rumah Ibadah' %}
		<div class="div-row">
			<label for="nomor_sertifikat_rumah_ibadah">Nomor Sertifikat Rumah Ibadah: </label>
			<input id="form_nomor_sertifikat_rumah_ibadah" type="text" disabled />
		</div>
		<div class="div-row">
			<label for="kategori_aktivitas">Kategori Aktivitas: </label>
			<input id="form_kategori_aktivitas" type="text" disabled />
		</div>
		{% endif %}
		<div class="div-row">
			<label for="berkas_penggalangan">Berkas Penggalangan Dana: </label>
			<input id="form_berkas_penggalangan" value="http://dummyimage.com/118x100.png/cc0000/ffffff" type="text"
				disabled />
		</div>

		<div class="div-row">
			<label for="catatan_pengajuan">Catatan Pengajuan: </label>
			<input id="form_catatan_pengajuan" type="text" disabled>
		</div>

		<br>
		<div class="div-row">
			<label for="jumlah_terkumpul">Jumlah Terkumpul: </label>
			<input id="form_jumlah_terkumpul" value="Rp5.000.000,00" disabled>
			<br>
			<b>Donatur: </b>
			<br>
			<table>
				<tr>
					<th>Email</th>
					<th>Timestamp</th>
					<th>Nominal</th>
					<th>Doa</th>
				</tr>
				<tr>
					<td>...</td>
					<td>...</td>
					<td>...</td>
					<td>...</td>
				</tr>
			</table>
			<br>
		</div>

		<div class="div-row">
			<label for="jumlah_terpakai">Jumlah Terpakai: </label>
			<input id="form_jumlah_terpakai" value="Rp2.000.000,00" disabled>
			<br>
			Rincian Penggunaan:
			<table>
				<tr>
					<th>Waktu</th>
					<th>Nominal</th>
					<th>Deskripsi</th>
				</tr>
				<tr>
					<td>...</td>
					<td>...</td>
					<td>...</td>
				</tr>
			</table>
		</div>

	</div>

	<div class="button-container">
		<button class="center">
			Cancel
		</button>
	</div>
</body>

</html>