{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'trigger_3/css/styles.css' %}">
    <title>Daftar Penggalangan Pribadi</title>
</head>

<body>
    {% include "navbar.html" %}
    <h1>Daftar Penggalangan Dana Pribadi</h1>
    {% if penggalangans %}
    <table>
        <tr>
            <th>Id</th>
            <th>Judul</th>
            <th>Kota</th>
            <th>Prov</th>
            <th>Tanggal Aktif Awal</th>
            <th>Deadline</th>
            <th>Sisa Hari</th>
            <th>Target Dana</th>
            <th>Kategori</th>
            <th>Status Verifikasi</th>
            <th>Action</th>
        </tr>

        {% for pd in penggalangans %}
        <tr>
            <td>{{ pd.id }}</td>
            <td>{{ pd.judul }}</td>
            <td>{{ pd.kota }}</td>
            <td>{{ pd.provinsi }}</td>
            <td>{{ pd.tanggalaktifawal }}</td>
            <td>{{ pd.tanggalaktifakhir }}</td>
            <td>{{ pd.sisahari }}</td>
            <td>{{ pd.jumlahdibutuhkan }}</td>
            <td>{{ pd.namakategori }}</td>
            <td>{{ pd.statusverifikasi }}</td>
            <td>
                <button type="button">Detail</button>
                <button type="button">Cairkan</button>
                <button type="button">Delete</button>
                {% if pd.statusverifikasi != "Terverifikasi" %}
                <button id="update_button_{{ pd.id }}" class="update_button">
                    Update
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>Anda tidak memiliki Penggalangan Dana</h3>
    {% endif %}

    <script src="{% static 'trigger_3/js/daftar_penggalangan_pribadi.js' %}" type="text/javascript"></script>
</body>

</html>